<h1>{{title}}</h1>
<p>You are trying to Sign In.</p>

<form action='/auth/signup-form' method='POST'>

  <label for='username'>Username</label>
  <input type='text' name='username' placeholder='Choose your username!'/>

  <label for='password'>Password</label>
  <input type='password' name='password' placeholder='Choose your password!'/>

  <button type='submit'>Sign up</button>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}
